<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>Cadastro de Espécies</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css"
        rel="stylesheet">
    <link href="../../css/estilo.css" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style>
        .form-row {
            display: flex;
            flex-wrap: wrap;
        }

        .form-group {
            flex: 1;
            margin-right: 15px;
        }

        .form-group:last-child {
            margin-right: 0;
        }
    </style>
</head>

<body onload="window.onload()">
    <div th:replace="fragmentos/menu-lateral :: sidebar"></div>
    <div class="centralizado" id="main">
        <div class="container">

            <div class="container form-container">
                <h1 class="text-center mb-4">Cadastro de Espécies</h1>
                <form action="/especies" method="post" enctype="multipart/form-data">

                    <div class="mb-3">
                        <label for="nome" class="form-label">Nome da Espécie</label>
                        <input type="text" class="form-control" id="nome" name="nome" placeholder="Nome da Espécie"
                            required>
                    </div>

                    <div class="mb-3">
                        <label for="especieId" class="form-label">Espécie do Animal</label>
                        <select id="especieId" name="especieId" class="form-select" required>
                            <option value="">Selecione uma espécie</option>
                            <th:block th:each="especie : ${especies}">
                                <option th:value="${especie.id}" th:text="${especie.nome}"></option>
                            </th:block>
                        </select>
                    </div>

                    <button type="submit" class="btn btn-primary w-100">Cadastrar Espécie</button>
                </form>
                <div th:if="${erro}" class="error" th:text="${erro}"></div>

                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
            </div>
        </div>
    </div>
    </fieldset>